<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />
  <meta name="keywords"
    content="ngogwalior,NGO Gwalior,NGO,Gwalior,ngo gwalior,being care foundation,care foundation" />
  <meta name="author" content="@its_shyam640" />

  {{!-- Adding meta tags for content fetching from url --}}
  <meta property="og:title" content="Being Care Foundation" />
  <meta property="og:image" content="../../public/images/logo_icon.png" />
  <meta property="og:url" content="https://beingcarefoundation.org" />
  <meta property="og:site_name" content="Being Care Foundation" />
  <meta property="og:description"
    content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />

  {{!-- Adding small icon to the tab --}}
  <link rel="shortcut icon" href="./images/logo_tab.png" />
  {{!-- animation css --}}
  <link rel="stylesheet" href="./libs/extra_libs/css/animate.css" />
  {{!-- Icomoon Icon Fonts --}}
  <link rel="stylesheet" href="./libs/extra_libs/css/icomoon.css" />
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="./libs/extra_libs/css/bootstrap.css" />
  {{!-- Superfish --}}
  <link rel="stylesheet" href="./libs/extra_libs/css/superfish.css" />

  {{!-- Main css --}}
  <link rel="stylesheet" href="./css/style.css" />

  {{!-- Adding link to bootstrap --}}

  {{!-- <link rel="stylesheet" href="./libs/bootstrap/css/" />

  <link rel="stylesheet" href="./libs/bootstrap/scss/" /> --}}

  {{!-- Modernizr Library --}}
  <script src="./libs/extra_libs/js/modernizr-2.6.2.min.js"></script>
</head>

<body>
  <div id="shy640-wrapper">
    <div id="shy640-page">
      {{>header}}

      {{!-- start of how we started section --}}
      <div id="shy640-feature-product" class="shy640-section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center heading-section">
              <h3>How we started.</h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Alias, minima. Ratione officia exercitationem vero similique
                libero labore porro obcaecati, dolorem quasi totam distinctio
                maxime eos! Soluta dolor delectus quidem recusandae? Lorem
                ipsum Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Inventore aspernatur amet voluptas! Iste eveniet nam,
                ratione obcaecati velit, illum rem molestiae ut earum, maiores
                totam nulla! Quidem consectetur laudantium minima.
              </p>
            </div>
          </div>

          <div class="row row-bottom-padded-md">
            <div class="col-md-6 text-center animate-box">
              <p>
                <img src="./images/howwestarted0.jpg" alt="How we started Image1 !" class="img-responsive ignore-invert" />
              </p>
            </div>
            <div class="col-md-6 text-center animate-box">
              <p>
                <img src="./images/howwestarted2.jpg" alt="How we started Image2 !" class="img-responsive ignore-invert" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="feature-text">
                <h3>Love</h3>
                <p>
                  Charity has two parts: love of God and love of man, which
                  includes both love of one's neighbor and one's self.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-text">
                <h3>Compassion</h3>
                <p>
                  To recognize the suffering of others and then take action to
                  help. Compassion embodies a tangible expression of love for
                  those who are suffering.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-text">
                <h3>Charity</h3>
                <p>
                  Purpose is to give money, food, or help to those who need
                  it, or to carry out activities such as medical research that
                  will help people in need, and not to make a profit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- end of how we started section --}}

      {{!-- start of gallery section --}}
      <div id="shy640-portfolio">
        <div class="container">
          <div class="row">
            <div class="
                  col-md-6 col-md-offset-3
                  text-center
                  heading-section
                  animate-box
                ">
              <h3>Our Gallery</h3>
              <p>
                Have a look at some of the glimpses of our work. We believe in
                hepling in return of prayers and best wishes.
              </p>
            </div>
          </div>

          <div class="row row-bottom-padded-md">
            <div class="col-md-12">
              <ul id="shy640-portfolio-list">
                <li class="two-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping5.jpg)">
                  <a href="#" class="color-3">
                    <div class="case-studies-summary">
                      <span>Started From Zero</span>
                      <h2>Small Group of People</h2>
                    </div>
                  </a>
                </li>

                <li class="one-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping6.jpg)">
                  <a href="#" class="color-4">
                    <div class="case-studies-summary">
                      <span>Other Joined!</span>
                      <h2>Community started growing.</h2>
                    </div>
                  </a>
                </li>

                <li class="one-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping7.jpg)">
                  <a href="#" class="color-5">
                    <div class="case-studies-summary">
                      <span>Discussion</span>
                      <h2>Took so many tough decisions</h2>
                    </div>
                  </a>
                </li>
                <li class="two-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping8.jpg)">
                  <a href="#" class="color-6">
                    <div class="case-studies-summary">
                      <span>Just Believed!</span>
                      <h2>Don't Worry...You are not alone...You matter!!!</h2>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center animate-box">
              <a href="#" class="btn btn-primary btn-lg">See Gallery</a>
            </div>
          </div>
        </div>
      </div>
      {{!-- end of gallery section --}}

      {{!-- start of organisation head details --}}
      <div id="shy640-content-section" class="shy640-section-gray">
        <div class="container">
          <div class="row">
            <div class="
                  col-md-8 col-md-offset-2
                  text-center
                  heading-section
                  animate-box
                ">
              <h3>Leadership</h3>
              <p>
                Look at the head of orgaisation who just put all of their
                efforts for care and aware foundation.
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="shy640-team text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/user.png" alt="user" />
                </figure>

                <div>
                  <h3>Rakesh Sharma</h3>
                  <p><span>Co-Founder</span></p>
                  <p>
                    He is the co-founder of care and aware foundation. He is
                    in partner with founder since this organisation has been
                    started.
                  </p>
                </div>

                <p class="shy640-social-icons">
                  <a href="#"><i class="icon-twitter2"></i></a>
                  <a href="#"><i class="icon-linkedin2"></i></a>
                  <a href="#"><i class="icon-facebook3"></i></a>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="shy640-team text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/user.png" alt="user" />
                </figure>
                <div>
                  <h3>Care Foundation</h3>
                  <p><span>Founder</span></p>
                  <p>
                    Founder of Care and Aware Foundation in May 2014. A
                    powerful and inspiring speaker who aims empower
                    underprivileged by providing Education & Employment
                    through Skill & entrepreneurship development. Believe in
                    social works and bringing smiles to small faces.
                  </p>
                </div>
                <p class="shy640-social-icons">
                  <a href="#"><i class="icon-twitter2"></i></a>
                  <a href="#"><i class="icon-linkedin2"></i></a>
                  <a href="#"><i class="icon-facebook3"></i></a>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="shy640-team text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/its_shyam640.png" alt="user" />
                </figure>
                <div>
                  <h3>Shyam Sundar Vashishtha</h3>
                  <p><span>Technical Head</span></p>
                  <p>
                    Technical Head of Care and aware foundation. He has been
                    maintaining all the technical backgrounds and works of the
                    foundation since it is started.
                  </p>
                </div>
                <p class="shy640-social-icons">
                  <a href="#"><i class="icon-twitter2"></i></a>
                  <a href="#"><i class="icon-linkedin2"></i></a>
                  <a href="#"><i class="icon-instagram2"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- end of organisation head details --}}

      {{>footer}}
    </div>
  </div>

  {{!-- jQuery --}}
  <script src="./libs/extra_libs/js/jquery.min.js"></script>
  {{!-- jQuery Easing --}}
  <script src="./libs/extra_libs/js/jquery.easing.1.3.js"></script>
  {{!-- Bootstrap --}}
  <script src="./libs/extra_libs/js/bootstrap.min.js"></script>
  {{!-- Waypoints --}}
  <script src="./libs/extra_libs/js/jquery.waypoints.min.js"></script>
  {{!-- Sticky --}}
  <script src="./libs/extra_libs/js/sticky.js"></script>
  {{!-- Stellar --}}
  <script src="./libs/extra_libs/js/jquery.stellar.min.js"></script>

  <script src="./libs/extra_libs/js/hoverIntent.js"></script>
  {{!-- Superfish --}}
  <script src="./libs/extra_libs/js/superfish.js"></script>
  {{!-- Placeholder --}}
  <script src="./libs/extra_libs/js/placeholders.min.js"></script>
  {{!-- LeanModal Js script --}}
  <script src="https://leanmodal.finelysliced.com.au/js/jquery.leanModal.min.js"></script>

  <!-- Main JS -->
  <script src="./js/main.js"></script>
  <script src="./js/login.js"></script>
</body>
<script>
  let commonMessage = () => {
    alert("This Page will be available soon...");
  };
</script>

</html>