<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>{{title}}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="description"
      content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />
   <meta name="keywords"
      content="ngogwalior,NGO Gwalior,NGO,Gwalior,ngo gwalior,being care foundation,care foundation" />
   <meta name="author" content="@its_shyam640" />

   {{!-- Adding meta tags for content fetching from url --}}
   <meta property="og:title" content="Being Care Foundation" />
   <meta property="og:image" content="../../public/images/logo_icon.png" />
   <meta property="og:url" content="https://beingcarefoundation.org" />
   <meta property="og:site_name" content="Being Care Foundation" />
   <meta property="og:description"
      content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />

   {{!-- Adding small icon to the tab --}}
   <link rel="shortcut icon" href="./images/logo_tab.png" />
   {{!-- animation css --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/animate.css" />
   {{!-- Icomoon Icon Fonts --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/icomoon.css" />
   {{!-- Bootstrap --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/bootstrap.css" />
   {{!-- Superfish --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/superfish.css" />
   {{!-- Main css --}}
   <link rel="stylesheet" href="./css/faq_css/style.css" />
   <link rel="stylesheet" href="./css/style.css" />
   <link rel="stylesheet" href="./css/util.css" />



   {{!-- Adding link to bootstrap --}}

   {{!--
   <link rel="stylesheet" href="./libs/bootstrap/css/" />
   <link rel="stylesheet" href="./libs/bootstrap/scss/" /> --}}

   {{!-- Modernizr Library --}}
   <script src="./libs/extra_libs/js/modernizr-2.6.2.min.js"></script>
</head>

<style>
   a {
      text-decoration: none;
   }

</style>

<body>
   <div id="shy640-wrapper">
      <div id="shy640-page">
         {{>header}}
         <section class="
        cd-faq
        js-cd-faq
        container
        margin-top-lg margin-bottom-lg
        margin-left-lg margin-right-lg
      ">
            <ul class="cd-faq__categories ignore-invert">
               <li>
                  <a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Basics</a>
               </li>
               <li>
                  <a class="cd-faq__category truncate" href="#account">Account</a>
               </li>
               <li>
                  <a class="cd-faq__category truncate" href="#dashboard">Dashboard</a>
               </li>
               <li>
                  <a class="cd-faq__category truncate" href="#donation">Donation</a>
               </li>
               <li>
                  <a class="cd-faq__category truncate" href="#payments">Payments</a>
               </li>
               <li>
                  <a class="cd-faq__category truncate" href="#privacy">Privacy</a>
               </li>
            </ul>
            <div class="cd-faq__items">
               <ul id="basics" class="cd-faq__group">
                  <li class="cd-faq__title">
                     <h2>Basics</h2>
                  </li>
                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Some page doesn't loads correctly?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              We are very sorry to hear that but we are regularly updating
                              our website and working to provide better and more reliable solutions
                              to your problems. All pages will be available soon.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Website saying "Page will be available later" what is
                           the issue?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Currently we haven't added few pages but will be made available very soon.
                              We are continuously working on website.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Website taking long to respond?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              We are really sorry to hear that but we are continuously working to make our website
                              efficient and faster.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Other Issue?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Please share your issue to us by visiting <a href="/contact">contact</a> page or
                              mail us at<a
                                 href="mailto:beingcarefoundation@gmail.com">beingcarefoundation@gmail.com</a>.
                              ThankYou!
                           </p>
                        </div>
                     </div>
                  </li>
               </ul>

               <ul id="account" class="cd-faq__group">
                  <li class="cd-faq__title">
                     <h2>Account</h2>
                  </li>
                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Can I login and register on the site?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Yes, you can register and login on the site by visiting <a href="/login">login</a> page to 
                              login and <a href="/register">register</a> page to register.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Can I reset my account password?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              No, as of now you cannot change your password but you can reach out us at <a href="/contant">contact</a>
                              and after verification you will be provided with the credentials or you can create a new account by 
                              visiting <a href="/register">register</a> page.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>What I will see after logging in?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              As of now you can only see your details but we are continuously updating our website.
                              <br> Later you will be able to see all your donations and other donations graph 
                              and also you will have more functionalities added. Please wait for next update.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Can I visit my Dashboard without logging in?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              No! you cannot visit your dashboard without logging in. You need to be authenticated to access
                              dashboard.
                           </p>
                        </div>
                     </div>
                  </li>
               </ul>

               <ul id="dashboard" class="cd-faq__group">
                  <li class="cd-faq__title">
                     <h2>Dashboard</h2>
                  </li>
                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>I could not upload my image. What's the issue?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              In this update uploading profile image is not available but will be made available soon.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>I cannot see my donations on my dashboard?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              As of now donation cards are not added but will be added in the very next update.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Other Issue?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Please share your issue to us by visiting <a href="/contact">contact</a> page or
                              mail us at<a
                                 href="mailto:beingcarefoundation@gmail.com">beingcarefoundation@gmail.com</a>.
                              ThankYou!
                           </p>
                        </div>
                     </div>
                  </li>

               </ul>

               <ul id="donation" class="cd-faq__group">
                  <li class="cd-faq__title">
                     <h2>Donations</h2>
                  </li>
                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Will I get proof of my donations?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Yes! you will be shared an official invoice of your donation on you email address provided
                               with all the necessary details and official Being Care Foundation mark.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Can I get a copy of all my donations?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Yes! You can get details of your all donations upon verification by visiting us at
                              <a href="/contact">contact</a> page.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Will I be charged extra or other tax?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              As of now, you will not be charged extra other then the amount you enters. But always have a look at our 
                              forum page where we will keep updating about out website.
                           </p>
                        </div>
                     </div>
                  </li>
               </ul>

               <ul id="payments" class="cd-faq__group">
                  <li class="cd-faq__title">
                     <h2>Payments</h2>
                  </li>
                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Can I donate without logging in?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Yes you can donate without logging or registering to our site.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Which payment party being care foundation use?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Being care foundation currently uses third party payment gateway of Razorpay. But we
                              will have our own payment page added to website very soon.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>What are the payment methods available?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              One can donate using multiple payment option such as UPI, Net-Banking, Credit Card, Debit cards
                              etc. Extra charges may be applied as per the choice of your payment. Also please have look at payment page to 
                              find out more about it.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Other payment related issues?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Please share your issue to us by visiting <a href="/contact">contact</a> page or
                              mail us at<a
                                 href="mailto:beingcarefoundation@gmail.com">beingcarefoundation@gmail.com</a>.
                              ThankYou!
                           </p>
                        </div>
                     </div>
                  </li>
               </ul>

               <ul id="privacy" class="cd-faq__group">
                  <li class="cd-faq__title">
                     <h2>Privacy</h2>
                  </li>
                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>What are the privacy concern being care foundation take care of?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Privacy Policies will be updated very soon.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>What are being care foundations terms and condition?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Terms and condition will be updated very soon.
                           </p>
                        </div>
                     </div>
                  </li>

                  <li class="cd-faq__item">
                     <a class="cd-faq__trigger" href="#0"><span>Other privacy related issues?</span></a>
                     <div class="cd-faq__content">
                        <div class="text-component">
                           <p>
                              Please share your issue to us by visiting <a href="/contact">contact</a> page or
                              mail us at<a
                                 href="mailto:beingcarefoundation@gmail.com">beingcarefoundation@gmail.com</a>.
                              ThankYou!
                           </p>
                        </div>
                     </div>
                  </li>

               </ul>
            </div>

            <a href="#0" class="cd-faq__close-panel text-replace">Close</a>

            <div class="cd-faq__overlay" aria-hidden="true"></div>
         </section>


         {{>footer}}
      </div>
   </div>

   {{!-- jQuery --}}
   <script src="./libs/extra_libs/js/jquery.min.js"></script>
   {{!-- jQuery Easing --}}
   <script src="./libs/extra_libs/js/jquery.easing.1.3.js"></script>
   {{!-- Bootstrap --}}
   <script src="./libs/extra_libs/js/bootstrap.min.js"></script>
   {{!-- Waypoints --}}
   <script src="./libs/extra_libs/js/jquery.waypoints.min.js"></script>
   {{!-- Sticky --}}
   <script src="./libs/extra_libs/js/sticky.js"></script>
   {{!-- Stellar --}}
   <script src="./libs/extra_libs/js/jquery.stellar.min.js"></script>

   <script src="./libs/extra_libs/js/hoverIntent.js"></script>
   {{!-- Superfish --}}
   <script src="./libs/extra_libs/js/superfish.js"></script>
   {{!-- Placeholder --}}
   <script src="./libs/extra_libs/js/placeholders.min.js"></script>
   {{!-- LeanModal Js script --}}
   <script src="https://leanmodal.finelysliced.com.au/js/jquery.leanModal.min.js"></script>

   <!-- Main JS -->
   <script src="./js/main.js"></script>
   <script src="./js/faq.js"></script>
   <script src="./js/util.js"></script>
   <script src="./js/login.js"></script>
</body>
<script>
   let commonMessage = () => {
      alert("This Page will be available soon...");
   };
</script>

</html>