<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />
  <meta name="keywords"
    content="ngogwalior,NGO Gwalior,NGO,Gwalior,ngo gwalior,being care foundation,care foundation" />
  <meta name="author" content="@its_shyam640" />

  {{!-- Adding meta tags for content fetching from url --}}
  <meta property="og:title" content="Being Care Foundation" />
  <meta property="og:image" content="../../public/images/logo_icon.png" />
  <meta property="og:url" content="https://beingcarefoundation.org" />
  <meta property="og:site_name" content="Being Care Foundation" />
  <meta property="og:description"
    content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />

  {{!-- Adding small icon to the tab --}}
  <link rel="shortcut icon" href="./images/logo_tab.png" />
  {{!-- animation css --}}
  <link rel="stylesheet" href="../../../libs/extra_libs/css/animate.css" />
  {{!-- Icomoon Icon Fonts --}}
  <link rel="stylesheet" href="./libs/extra_libs/css/icomoon.css" />
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="./libs/extra_libs/css/bootstrap.css" />
  {{!-- Superfish --}}
  <link rel="stylesheet" href="./libs/extra_libs/css/superfish.css" />
  {{!-- Main css --}}
  <link rel="stylesheet" href="./css/style.css" />

  {{!-- Adding link to bootstrap --}}

  {{!--
  <link rel="stylesheet" href="./libs/bootstrap/css/" /> --}}

  {{!--
  <link rel="stylesheet" href="./libs/bootstrap/scss/" /> --}}

  {{!-- Modernizr Library --}}
  <script src="/libs/extra_libs/js/modernizr-2.6.2.min.js"></script>
</head>

<style>
  :root {
    @media (prefers-color-scheme: dark) {
      div.picture {
        filter: invert(0);
      }
    }
</style>

<body>
  <div id="shy640-wrapper">
    <div id="shy640-page">
      {{>header}}
      <div id="shy640-features">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-profile-male"></i>
                </span>
                <div class="feature-copy">
                  <h3>Become a volunteer</h3>
                  <p>
                    Join us and make all others to <b>care</b> and spread
                    <b>awareness</b>.
                  </p>
                  <p><a href="#">click here</a></p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-happy"></i>
                </span>
                <div class="feature-copy">
                  <h3>Happy Giving</h3>
                  <p>
                    We aim to provide free education to orphans, increase tree
                    plantation and all other social services for free.
                  </p>
                  <p><a href="#">click here</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-wallet"></i>
                </span>
                <div class="feature-copy">
                  <h3>Donation</h3>
                  <p>
                    Donate to us from 0Rs. to your interest. And we appreciate
                    your contribution and will use it completely for social
                    work.
                  </p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- end of what we do section --}}

      {{!-- start of introduction section --}}
      <div id="shy640-feature-product" class="shy640-section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center heading-section">
              <h3>Giving is Virtue.</h3>
              <p>
                Not all of us can do great things but we can do small things
                with great love.
              </p>
            </div>
          </div>

          <div class="row row-bottom-padded-md">
            <div class="col-md-12 text-center animate-box">
              <p>
                <img src="./images/donate.jpg" alt="Charity" class="img-responsive ignore-invert" />
              </p>
            </div>
            <div class="col-md-6 text-center animate-box">
              <p>
                <img src="./images/compassion.jpg" alt="Compassion" class="img-responsive ignore-invert" />
              </p>
            </div>
            <div class="col-md-6 text-center animate-box">
              <p>
                <img src="./images/love.jpg" alt="Love" class="img-responsive ignore-invert" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="feature-text">
                <h3>Love</h3>
                <p>
                  Charity has two parts: love of God and love of man, which
                  includes both love of one's neighbor and one's self.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-text">
                <h3>Compassion</h3>
                <p>
                  To recognize the suffering of others and then take action to
                  help. Compassion embodies a tangible expression of love for
                  those who are suffering.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-text">
                <h3>Charity</h3>
                <p>
                  Purpose is to give money, food, or help to those who need
                  it, or to carry out activities such as medical research that
                  will help people in need, and not to make a profit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- end of introduction section --}}

      {{!-- start of gallery section --}}
      <div id="shy640-portfolio">
        <div class="container">
          <div class="row">
            <div class="
                  col-md-6 col-md-offset-3
                  text-center
                  heading-section
                  animate-box
                ">
              <h3>Our Gallery</h3>
              <p>
                Have a look at some of the glimpses of our work. We believe in
                hepling in return of prayers and best wishes.
              </p>
            </div>
          </div>

          <div class="row row-bottom-padded-md">
            <div class="col-md-12">
              <ul id="shy640-portfolio-list">
                <li class="two-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping1.jpg)">
                  <a href="#" class="color-3">
                    <div class="case-studies-summary">
                      <span>Give Love</span>
                      <h2>Donate Food</h2>
                    </div>
                  </a>
                </li>

                <li class="one-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping2.jpg)">
                  <a href="#" class="color-4">
                    <div class="case-studies-summary">
                      <span>Give Love</span>
                      <h2>Donate Goods</h2>
                    </div>
                  </a>
                </li>

                <li class="one-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping3.jpg)">
                  <a href="#" class="color-5">
                    <div class="case-studies-summary">
                      <span>Give Love</span>
                      <h2>Do Care</h2>
                    </div>
                  </a>
                </li>
                <li class="two-third animate-box ignore-invert" data-animate-effect="fadeIn"
                  style="background-image: url(./images/helping4.jpg)">
                  <a href="#" class="color-6">
                    <div class="case-studies-summary">
                      <span>Give Love</span>
                      <h2>Provide Education</h2>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center animate-box">
              <a href="#" class="btn btn-primary btn-lg">See Gallery</a>
            </div>
          </div>
        </div>
      </div>
      {{!-- end of gallery section --}}

      {{!-- start of About section --}}

      <div id="shy640-content-section" class="shy640-section-gray">
        <div class="container">
          <div class="row">
            <div class="
                  col-md-8 col-md-offset-2
                  text-center
                  heading-section
                  animate-box
                ">
              <h3>Heads of Organisation</h3>
              <p>
                Look at the head of orgaisation who just put all of their
                efforts for care and aware foundation.
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="shy640-testimonial text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/user.png" alt="user" />
                </figure>
                <blockquote>
                  <p>
                    &ldquo;He is the co-founder of care and aware foundation.
                    He is in partner with founder since this organisation has
                    been started.&rdquo;
                  </p>
                </blockquote>
                <span>Co-founder-Care and Aware Foundation</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="shy640-testimonial text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/user.png" alt="user" />
                </figure>
                <blockquote>
                  <p>
                    &ldquo;Founder of Care and Aware Foundation in May 2014. A
                    powerful and inspiring speaker who aims empower
                    underprivileged by providing Education & Employment
                    through Skill & entrepreneurship development. Believe in
                    social works and bringing smiles to small faces. &rdquo;
                  </p>
                </blockquote>
                <span>Founder-Care and Aware Foundation</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="shy640-testimonial text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/its_shyam640.png" alt="user" />
                </figure>
                <blockquote>
                  <p>
                    &ldquo;Technical Head of Care and aware foundation. He has
                    been maintaining all the technical backgrounds and works
                    of the foundation since it is started.&rdquo;
                  </p>
                </blockquote>
                <span>-Shyam Sundar Vashishtha</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="shy640-content-section" class="shy640-section-gray">
        <div class="container">
          <div class="row">
            <div class="
                  col-md-8 col-md-offset-2
                  text-center
                  heading-section
                  animate-box
                ">
              <h3>Our Philantrophist</h3>
              <p>
                Look at our partner and co-workers who just put all of their
                efforts for care and aware foundation. We thank to all of them
                who are working for a good cause.
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="shy640-testimonial text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/user.png" alt="user" />
                </figure>
                <blockquote>
                  <p>
                    &ldquo;I have a clear, logical mind with a practical
                    approach to problem-solving and a drive to see things
                    through to completion. I have more than 2 years of
                    experience in managing and leading teams across multiple
                    sectors. I am eager to learn, I enjoy overcoming
                    challenges, and I have a genuine interest in Business
                    Management and making organisations successful.&rdquo;
                  </p>
                </blockquote>
                <span>-Chirag Garg</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="shy640-testimonial text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/user.png" alt="user" />
                </figure>
                <blockquote>
                  <p>
                    &ldquo;I am a mature, positive and hardworking individual,
                    who always strives to achieve the highest standard
                    possible, at any given task. In my previous role as a
                    Sales Representative, I demonstrated the ability to work
                    under intense pressure, sell products and services to
                    customers from all backgrounds, handle customer complaints
                    and solve problematic situations as and when they
                    arose.&rdquo;
                  </p>
                </blockquote>
                <span>-Kishan Sharma</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="shy640-testimonial text-center animate-box">
                <figure>
                  <img class="ignore-invert" src="./images/user.png" alt="user" />
                </figure>
                <blockquote>
                  <p>
                    &ldquo;I am a dedicated, hardworking and proactive
                    Chemical Engineer with a strong background in design,
                    plant operations, offshore operations, and process and
                    safety improvements. I have solid work experience in
                    designing, testing and analysing processes to increase the
                    overall efficiency of operations.&rdquo;
                  </p>
                </blockquote>
                <span>-Rakesh Tiwari</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- End-of-About-section --}}

      {{!-- start of our project section --}}
      <div id="shy640-services-section">
        <div class="container">
          <div class="row">
            <div class="
                  col-md-8 col-md-offset-2
                  text-center
                  heading-section
                  animate-box
                ">
              <h3>Our Projects. Support Us</h3>
              <p>
                Below are some of the project we work on or we have worked on.
                Do check them out and Donate us to motivate us to do more such
                social works.
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4 col-sm-4">
              <div class="services animate-box">
                <span><i class="icon-heart"></i></span>
                <h3>Orphan Care Project in Gwalior</h3>
                <p>
                  Care and Aware Foundation provides partial or full
                  assistance to poor students from primary school to
                  university levels, who are not in a position to continue
                  their education because of financial hardships. Areas of
                  assistance include: admission fees, tuition fees, exam fees,
                  stationery items, as well as a stipend which may range from
                  $5 to $50 per month depending on local conditions and
                  economic status of each student's family. Please donate for
                  these efforts, your donations will go a long way to build a
                  bright future for the next generations in poor countries.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="services animate-box">
                <span><i class="icon-heart"></i></span>
                <h3>Water Saving Project in Gwalior</h3>
                <p>
                  Water is the precious gift of God on the earth. Life exists
                  on the earth because of the availability of water. Itself
                  being tasteless, odorless and colorless, it adds taste,
                  color and nice smell in the life of living beings on the
                  earth. It is found everywhere and known as life. It takes
                  nothing from us but gives life to us. It has no shape but
                  takes the shape of container we store it. We find it
                  everywhere in rivers, seas, tanks, wells, ponds, etc but we
                  lack clean drinking water. Three-fourth part of the earth is
                  full of water however we need to conserve water as there is
                  very less percentage of clean water.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="services animate-box">
                <span><i class="icon-heart"></i></span>
                <h3>Animal Saving Project in Gwalior</h3>
                <p>
                  Saving nature is at the very heart of what we do as WWF. For
                  nearly 60 years, we have made it our mission to find
                  solutions that save the marvelous array of life on our
                  planet by applying the best science available and working
                  closely with local communities.The good news is we’ve also
                  seen what’s working. WWF has been part of successful
                  wildlife recovery stories ranging from southern Africa’s
                  black rhino to black bucks in the Himalayas. This much is
                  clear: we cannot afford to fail in our mission to save a
                  living planet. Donate us with something and feed a animal.
                </p>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4 col-sm-4">
              <div class="services animate-box">
                <span><i class="icon-heart"></i></span>
                <h3>Education Project in Gwalior</h3>
                <p>
                  The National Energy Education Development Project promotes
                  an energy conscious and educated society by creating
                  effective networks of students, educators, business,
                  government and community leaders to design and deliver
                  objective, multi-sided energy education programs. NEED works
                  with energy companies, agencies and organizations to bring
                  balanced energy programs to the nation’s schools with a
                  focus on strong teacher professional development, timely and
                  balanced curriculum materials, signature program
                  capabilities and turn-key program management.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="services animate-box">
                <span><i class="icon-heart"></i></span>
                <h3>Tree Plantation Project in Gwalior</h3>
                <p>
                  Globally, forest cover is one-third less than what it once
                  was and global deforestation continues at 18 million
                  hectares per year. This indiscriminate felling of trees,
                  needs to be undertaken on a large scale to reverse the ill
                  effects of deforestation and restore the ecological balance.
                  In 2014-16, close to 1 million trees were planted by around
                  200,000 people, across 62 projects in 6 states of India.
                  Alongside, environmental education was provided to 180,000
                  children, teachers and community members. In 2019-20, nearly
                  161,139 saplings were planted across the country, while more
                  than 60,000 individuals were reached with climate literacy
                  and awareness activities.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="services animate-box">
                <span><i class="icon-heart"></i></span>
                <h3>Social Awareness Project in Gwalior</h3>
                <p>
                  Social awareness refers to a person's ability to utilize
                  empathy to connect with others, notably those of different
                  backgrounds and beliefs, as well to recognize problems
                  around the world and resources for addressing personal and
                  social issues. The following projects are designed to help
                  students practice these, developing social awareness for use
                  in the classroom and throughout life. These projects are
                  made to be adaptable to various grade levels.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- END Our Project section --}}

      {{!-- start of blog section --}}
      <div id="shy640-blog-section" class="shy640-section-gray">
        <div class="container">
          <div class="row">
            <div class="
                  col-md-8 col-md-offset-2
                  text-center
                  heading-section
                  animate-box
                ">
              <h3>Recent From Blog</h3>
              <p>
                Below are some of the blogs written for us by our team blog
                writter. Do read out them.
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row row-bottom-padded-md">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="shy640-blog animate-box">
                <a href="#"><img class="img-responsive ignore-invert" src="./images/tree.jpg" alt="Tree Plantation Project" /></a>
                <div class="blog-text">
                  <div class="prod-title">
                    <h3><a href="#">Tree Plantation Project</a></h3>
                    <span class="posted_by">May 19th</span>
                    <span class="comment"><a href="#">21<i class="icon-bubble2"></i></a></span>
                    <p>
                      Globally, forest cover is one-third less than what it
                      once was and global deforestation continues at 18
                      million hectares per year.
                    </p>
                    <p><a href="#">Read More...</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="shy640-blog animate-box">
                <a href="#"><img class="img-responsive ignore-invert" src="./images/education.jpg" alt="Education Project" /></a>
                <div class="blog-text">
                  <div class="prod-title">
                    <h3><a href="#">Education Project</a></h3>
                    <span class="posted_by">May 21th</span>
                    <span class="comment"><a href="#">51<i class="icon-bubble2"></i></a></span>
                    <p>
                      The National Energy Education Development Project
                      promotes an energy conscious and educated society by
                      creating effective networks of students to design and
                      deliver objective, multi-sided energy education
                      programs.
                    </p>
                    <p><a href="#">Read More...</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="shy640-blog animate-box">
                <a href="#"><img class="img-responsive ignore-invert" src="./images/water.jpg" alt="Water Project" /></a>
                <div class="blog-text">
                  <div class="prod-title">
                    <h3><a href="#"></a>Water Project</h3>
                    <span class="posted_by">May 23th</span>
                    <span class="comment"><a href="#">63<i class="icon-bubble2"></i></a></span>
                    <p>
                      Water is the precious gift of God on the earth. Life
                      exists on the earth because of the availability of
                      water.
                    </p>
                    <p><a href="#">Read More...</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix visible-md-block"></div>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center animate-box">
              <a href="#" class="btn btn-primary btn-lg">More Blogs</a>
            </div>
          </div>
        </div>
      </div>
      {{!-- End-blog-section --}}

      {{>footer}}
    </div>
  </div>

  {{!-- jQuery --}}
  <script src="./libs/extra_libs/js/jquery.min.js"></script>
  {{!-- jQuery Easing --}}
  <script src="./libs/extra_libs/js/jquery.easing.1.3.js"></script>
  {{!-- Bootstrap --}}
  <script src="./libs/extra_libs/js/bootstrap.min.js"></script>
  {{!-- Waypoints --}}
  <script src="./libs/extra_libs/js/jquery.waypoints.min.js"></script>
  {{!-- Sticky --}}
  <script src="./libs/extra_libs/js/sticky.js"></script>
  {{!-- Stellar --}}
  <script src="./libs/extra_libs/js/jquery.stellar.min.js"></script>
  {{!-- Placeholder --}}
  <script src="./libs/extra_libs/js/placeholders.min.js"></script>

  <script src="./libs/extra_libs/js/hoverIntent.js"></script>
  {{!-- Superfish --}}
  <script src="./libs/extra_libs/js/superfish.js"></script>
  <!-- Main JS -->
  <script src="./js/main.js"></script>
  <script src="./js/login.js"></script>
</body>
<script>
  let commonMessage = () => {
    alert("This Page will be available soon...");
  };
</script>

</html>