<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>{{title}}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="description"
      content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />
   <meta name="keywords"
      content="ngogwalior,NGO Gwalior,NGO,Gwalior,ngo gwalior,being care foundation,care foundation" />
   <meta name="author" content="@its_shyam640" />

   {{!-- Adding meta tags for content fetching from url --}}
   <meta property="og:title" content="Being Care Foundation" />
   <meta property="og:image" content="../../public/images/logo_icon.png" />
   <meta property="og:url" content="https://beingcarefoundation.org" />
   <meta property="og:site_name" content="Being Care Foundation" />
   <meta property="og:description"
      content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />

   {{!-- Adding small icon to the tab --}}
   <link rel="shortcut icon" href="./images/logo_tab.png" />
   {{!-- animation css --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/animate.css" />
   {{!-- Icomoon Icon Fonts --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/icomoon.css" />
   {{!-- Bootstrap --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/bootstrap.css" />
   {{!-- Superfish --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/superfish.css" />
   {{!-- Main css --}}
   <link rel="stylesheet" href="./css/style.css" />

   {{!-- Adding link to bootstrap --}}


   <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.css" />


   {{!--
   <link rel="stylesheet" href="./libs/bootstrap/scss/" /> --}}

   {{!-- Modernizr Library --}}
   <script src="./libs/extra_libs/js/modernizr-2.6.2.min.js"></script>
</head>
<style>
   a {
      text-decoration: none;
   }

   .form-control {
      font-size: 14px;
   }

   input {
      width: calc(100% - 16px);
      padding: 10px 0 10px 10px;
      margin: 0;
      border: 2px solid transparent;
      border-radius: 5px;
      box-shadow: 1px 1px 1px #B2B2B2, -1px -1px 1px #292929;
      position: relative;
   }

   input:focus {
      outline: none;
      border: 2px solid transparent;
   }

   input.isRequired {
      border: 2px solid #e74c3c;
   }

   /*used a button so to easily add fontawesome's icon to the submit*/
   button {
      border: none;
      background: #3498db;
      width: 80px;
      height: 35px;
      padding: 0;
      margin-top: 16px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #292929, -1px -1px 1px #B2B2B2;
      border-radius: 5px;
      transition: all .3s;
      color: white;
      font-weight: 700;
   }

   button:hover {
      background: #2980b9;
   }

   button:focus {
      box-shadow: 1px 1px 1px #B2B2B2, -1px -1px 1px #292929;
   }

   /*style for the error box*/
   .errorMessages {
      width: calc(100% - 8px);
      padding: 20px 0;
      background: #e74c3c;
      color: white;
      border: 2px solid #EC644B;
      display: none;
   }

   .errorMessages li {
      padding: 0 0 5px 0;
      margin: 0 0 0 30px;
      font-family: Open Sans, sans serif;
   }
</style>

<body>
   <div id="shy640-wrapper">
      <div id="shy640-page">
         {{!-- top small header --}}
         <div class="header-top">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-sm-6 text-left shy640-link">
                     <a href="/faq">FAQ</a>
                     <a href="#" onclick="commonMessage()">Forum</a>
                     <a href="#">Contact</a>
                  </div>
                  <div class="col-md-6 col-sm-6 text-right shy640-social">
                     <a href="#" class="grow"><i class="icon-facebook2"></i></a>
                     <a href="#" class="grow"><i class="icon-twitter2"></i></a>
                     <a href="#" class="grow"><i class="icon-instagram2"></i></a>
                     <a href="#" class="grow"><i class="icon-linkedin2"></i></a>
                  </div>
               </div>
            </div>
         </div>
         {{!-- start:header --}}
         <header id="shy640-header-section" class="sticky-banner" style="border-bottom: 1px solid rgb(201, 199, 199);">
            <div class="container">
               <div class="nav-header">
                  <a href="#" class="js-shy640-nav-toggle shy640-nav-toggle dark"><i></i></a>
                  <a href="/"><img src="./images/logo_icon.png" alt="Being Care Foundation Logo!"
                        style="filter: drop-shadow(6px 6px 4px rgb(63, 63, 63))" /></a>
                  <nav id="shy640-menu-wrap" role="navigation">
                     <ul class="sf-menu" id="shy640-primary-menu">
                        <li id="home">
                           <a href="/">Home</a>
                        </li>
                        <li id="">
                           <a href="#" class="shy640-sub-ddown">Projects</a>
                           <ul class="shy640-sub-menu">
                              <li id="#"><a href="#">Animal Care</a></li>
                              <li id=""><a href="#">Free FirstAid Program</a></li>
                              <li id=""><a href="#">Water Care</a></li>
                           </ul>
                        </li>
                        <li id="about"><a href="/about">About</a></li>
                        <li id="blog"><a href="/blog">Blog</a></li>
                        <li id="contact"><a href="/contact">Contact</a></li>
                        <li id="join-button" class="btn btn-default btn-rounded">
                           <a href="#" class="shy640-sub-ddown">Join</a>
                           <ul class="shy640-sub-menu">
                              <li id="register-button"><a href="/register">Register</a></li>
                              <li id="login-button"><a href="/login">Login</a></li>
                           </ul>
                        </li>
                        <li>{{>darkmode}}</li>
                     </ul>
                  </nav>
               </div>
            </div>
         </header>
         {{!-- end:header --}}

         {{!-- Register --}}
         {{!-- Body --}}

         <ul class="errorMessages"></ul>

         <main class="my-form">
            <div class="cotainer m-5">
               <div class="row justify-content-center">
                  <div class="col-md-8" style="font-size: 18px; border: 1px solid; padding: 10px;">
                     <div class="card-header">Register</div>
                     <div class="card-body">
                        <form action="/users/register" method="POST" class="modal-body mb-1"
                           style="height: fit-content;" autocomplete="off">

                           <i class="icon-user-tie prefix"></i>
                           <label data-error="wrong" data-success="right" for="full-name">Your Full Name</label><abbr
                              title="Required"> *</abbr>
                           <input name="name" type="text" id="full-name" class="form-control form-control-sm validate"
                              required onblur="validateField(this)" placeholder="Full Name" autocomplete="off">

                           <i class="icon-user prefix"></i>
                           <label data-error="wrong" data-success="right" for="username">Your Username</label><abbr
                              title="Required"> *</abbr>
                           <input name="username" type="text" id="username" placeholder="Username"
                              class="form-control form-control-sm validate" required onblur="validateField(this)"
                              autocomplete="off">

                           <i class="icon-email prefix"></i>
                           <label data-error="wrong" data-success="right" for="user-email">Your Email</label><abbr
                              title="Required"> *</abbr>
                           <input name="email" type="email" id="user-email" placeholder="example@gmail.com"
                              class="form-control form-control-sm validate" required onblur="validateField(this)"
                              autocomplete="off">

                           <i class="icon-phone prefix"></i>
                           <label data-error="wrong" data-success="right" for="user-phone">Your Phone</label><abbr
                              title="Required"> *</abbr>
                           <input name="phone" type="tel" id="user-phone" class="form-control form-control-sm validate"
                              placeholder="+919876543210" required onblur="validateField(this)" minlength="8"
                              autocomplete="off">

                           <i class="icon-lock prefix"></i>
                           <label data-error="wrong" data-success="right" for="user-password">Your Password</label><abbr
                              title="Required"> *</abbr>
                           <input name="password" type="password" id="user-password" placeholder="password"
                              class="form-control form-control-sm validate" required
                              onblur="passwordValidate(this.value)" autocomplete="off">

                           <i class="icon-lock prefix"></i>
                           <label data-error="wrong" data-success="right" for="modalLRInput15">Repeat
                              Password</label><abbr title="Required"> *</abbr>
                           <input name="repeat-password" type="password" id="repeat-password"
                              placeholder="repeat-password" class="form-control form-control-sm validate" required
                              onblur="passwordMatch(document.getElementById('user-password').value,this.value)" autocomplete="off">

                           <button class="btn btn-primary" style="font-size: 16px; font-weight:500;width:10em;"
                              type="submit">Sign up <i class="icon-login ml-1"></i></button>
                        </form>
                        {{!-- Footer --}}
                        <div class="modal-footer">
                           <div style="display: flex;flex-direction:row" class="options text-center text-md-right mt-1">
                              <a href="#" class="btn btn-primary btn-lg"
                                 style="margin: auto;background-color:rgb(59, 111, 255); color: rgb(253, 249, 249); ">
                                 <i class="icon-facebook visible"></i>
                                 <span style="font-size: 16px; font-weight:500;">Facebook</span>
                              </a>
                              <a href="#" class="btn btn-lg btn-primary"
                                 style="margin: auto;background-color:rgb(255, 72, 59); color: rgb(253, 249, 249); ">
                                 <i class="icon-google visible"></i>
                                 <span style="font-size: 16px;font-weight:500;">Google+</span>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      </div>

      </main>

      {{>footer}}
   </div>
   </div>

   {{!-- jQuery --}}
   <script src="./libs/extra_libs/js/jquery.min.js"></script>
   {{!-- jQuery Easing --}}
   <script src="./libs/extra_libs/js/jquery.easing.1.3.js"></script>
   {{!-- Bootstrap --}}
   <script src="./libs/extra_libs/js/bootstrap.min.js"></script>
   {{!-- Waypoints --}}
   <script src="./libs/extra_libs/js/jquery.waypoints.min.js"></script>
   {{!-- Sticky --}}
   <script src="./libs/extra_libs/js/sticky.js"></script>
   {{!-- Stellar --}}
   <script src="./libs/extra_libs/js/jquery.stellar.min.js"></script>
   {{!-- Placeholder --}}
   <script src="./libs/extra_libs/js/placeholders.min.js"></script>

   <script src="./libs/extra_libs/js/hoverIntent.js"></script>
   {{!-- Superfish --}}
   <script src="./libs/extra_libs/js/superfish.js"></script>
   <!-- Main JS -->
   <script src="./js/main.js"></script>
   <script src="./js/login.js"></script>
</body>
<script>
   let commonMessage = () => {
      alert("This Page will be available soon...");
   };
   function validateField(input) {
      if (input.value.length < 1) {
         //red border
         input.style.borderColor = "#e74c3c";

      } else if (input.type == "email") {
         const emailPattern = "^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$";
         const email = input.value;
         if (input.value.indexOf("@") != -1 && input.value.indexOf(".") != -1) {
            //green border
            input.style.borderColor = "#2ecc71";
         } else if (email.match(emailPattern)) {
            // green border
            input.style.borderColor = "#2ecc71";
         } else {
            //red border
            input.style.borderColor = "#e74c3c";
         }

      } else if (input.type == "tel") {
         const phonePattern = "^[+][0-9]*$";
         const phone = input.value;
         if (phone.match(phonePattern)) {
            // green border
            input.style.borderColor = "#2ecc71";
         } else {
            //red border
            input.style.borderColor = "#e74c3c";
         }
      } else {
         //green border
         input.style.borderColor = "#2ecc71";
      }
   }

   function passwordValidate(value) {
      const passwordPattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$";
      if (value) {
         if (value.match(/[a-z]/g) && value.match(/[A-Z]/g) && value.match(/[0-9]/g) && value.match(/[^a-zA-Z\d]/g) && value.length >= 8) {
            // green border
            document.getElementById('user-password').style.borderColor = "#2ecc71";
         } else {
            //red border
            document.getElementById('user-password').style.borderColor = "#e74c3c";
         }
      }
   }

   function passwordMatch(value1,value2) {
      if (value1 && value2) {
         if (value1 === value2) {
            // green border
            document.getElementById('repeat-password').style.borderColor = "#2ecc71";
         } else {
            //red border
            document.getElementById('repeat-password').style.borderColor = "#e74c3c";
         }
      }
   }

   var createAllErrors = function () {
      var form = $(this),
         errorList = $("ul.errorMessages", form);

      var showAllErrorMessages = function () {
         errorList.empty();

         // Find all invalid fields within the form.
         var invalidFields = form.find(":invalid").each(function (index, node) {

            // Find the field's corresponding label
            var label = $("label[for=" + node.id + "] "),
               // Opera incorrectly does not fill the validationMessage property.
               message = node.validationMessage || 'Invalid value.';

            errorList
               .show()
               .append("<li><span>" + label.html() + "</span> " + message + "</li>");
         });
      };

      // Support Safari
      form.on("submit", function (event) {
         if (this.checkValidity && !this.checkValidity()) {
            $(this).find(":invalid").first().focus();
            event.preventDefault();
         }
      });

      $("input[type=submit], button:not([type=button])", form)
         .on("click", showAllErrorMessages);

      $("input", form).on("keypress", function (event) {
         var type = $(this).attr("type");
         if (/date|email|month|number|search|tel|text|time|url|week/.test(type)
            && event.keyCode == 13) {
            showAllErrorMessages();
         }
      });
   };

   $("form").each(createAllErrors);
</script>

</html>