{{!-- start of footer section --}}
      <footer>
        <div id="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <p class="shy640-social-icons">
                  <a href="#"><i class="icon-twitter2"></i></a>
                  <a href="#"><i class="icon-facebook2"></i></a>
                  <a href="#"><i class="icon-instagram"></i></a>
                  <a href="#"><i class="icon-linkedin2"></i></a>
                  <a href="#"><i class="icon-youtube"></i></a>
                </p>
                <p>
                  Copyright 2021 &copy;<a href="#"> Being Care Foundation</a>. All
                  Rights Reserved. <br />Made with
                  <i class="icon-heart3"></i> by
                  <a href="https://www.google.com/search?q=its_shyam640" target="_blank">@its_shyam640</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>